<div class="mainHeader">
	<div>
		<h2>Sinistros</h2>	
	</div>
</div>

<div class="mainContent">

	<mat-grid-list cols="4" rowHeight="100px">
	  
	  <mat-grid-tile>
	    
	  </mat-grid-tile>
	  <mat-grid-tile>

	    <mat-card class="card" >
	  		<mat-card-content [routerLink]="['/cadastro']">
	    		<p>
	      		Novo Sinistro
	    		</p>
	  		</mat-card-content>
		</mat-card>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<mat-card class="card" >
	  		<mat-card-content [routerLink]="['/timeline']">
	    		<p>
	      		Acompanhamento
	    		</p>
	  		</mat-card-content>
		</mat-card>
	    
	  </mat-grid-tile>
	  <mat-grid-tile>
	  </mat-grid-tile>
	</mat-grid-list>
</div>